<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="title" content="高雄文賓大飯店-觀光旅遊住宿">
    <meta name="subject" content="高雄文賓大飯店-觀光旅遊住宿">
    <meta name="keywords" content="高雄、高雄住宿、高雄出差、高雄觀光、駁二藝術特區、住宿、旅遊、海港、城市之旅、亞洲新彎區、高雄飯店、飯店、高雄流行音樂中心、商務、西子灣、愛河">
    <meta name="description" content="高雄文賓大飯店位於駁二藝術特區入口處，高雄捷運鹽埕埔站(O2)及高雄輕軌大義站(C12)、蓬萊站(C13)皆在飯店旁。距離機場及高鐵站約20~30分的車程,皆可搭乘捷運抵達本飯店。">
    <meta property="og:url" content="" />
	<meta property="og:title" content="高雄文賓大飯店-觀光旅遊住宿" />
    <meta property="og:image" content="預覽圖 URL" />
    <meta property="og:description" content="高雄文賓大飯店位於駁二藝術特區入口處，高雄捷運鹽埕埔站(O2)及高雄輕軌大義站(C12)、蓬萊站(C13)皆在飯店旁。距離機場及高鐵站約20~30分的車程,皆可搭乘捷運抵達本飯店。" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1,user-scalable=0, viewport-fit=cover, shrink-to-fit=no">
    <title>高雄文賓大飯店 - 觀光旅遊住宿</title>
    <link rel="shortcut icon" href="images/favicon.ico">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.css" />
    <link rel="stylesheet" href="scss/style.css">
</head>
<body>
    <div class="wrapper">
        <div class="customerGroup" id="customerGroup">
            <ul>
                <li>
					<a href="https://www.instagram.com/burgary2007hotel/?igshid=YjNmNGQ3MDY%3D" class="icon_ig_side">
						<span class="icon icon_ig_side"></span>
					</a>
				</li>
                <li>
					<a href="javascript:;" class="icon_line_side" target="_blank">
						<span class="icon icon_line_side"></span>
					</a>
				</li>
                <li>
					<a href="https://www.facebook.com/burgaryhotel" class="icon_fb_side" target="_blank">
						<span class="icon icon_fb_side"></span>
					</a>
				</li>
                <li>
					<a href="javascript:;" class="goTop">
						<span class="icon icon_top"></span>
					</a>
				</li>
            </ul>
        </div>
        <div class="contentBox">
            <div class="headerGroup" id="HeaderGroup">
                <div class="header">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col">
                                <div class="mobile_header bd-example">
                                    <nav class="navbar navbar-light bg-light fixed-top">
                                        <div class="container-fluid">
                                            <a class="navbar-brand icon_logo_mobile" href="index.html">
											</a>
                                        </div>
                                    </nav>
                                </div> 
                                <div class="navGroup" id="NavGroup">
									<a class="logo_pc" href="index.html">
										<img src="/images/logo_pc.png" alt="寶格利時尚旅館" title="寶格利時尚旅館">
									</a>
                                    <ul class="login_group">
                                        <li>
											<a class="icon_index" href="index.html#aboutGroup">關於我們</a>
										</li>
                                        <li>
											<a class="icon_about" href="hotel.html">精選房型</a>
										</li>
                                        <li>
											<a class="icon_cart" href="news.html">最新消息</a>
										</li>
                                        <li>
											<a class="icon_index" href="index.html#FacilityGroup">服務設施</a>
										</li>
                                        <li>
                                            <a href="https://www.facebook.com/burgaryhotel/?locale=zh_TW" target="_blank">線上訂房</a>
										</li>
										<li>
											<a class="icon_about" href="index.html#TrafficGroup">聯絡我們</a>
										</li>
                                        
                                    </ul>
                                </div> 
                            </div>                           
                        </div>
                    </div>
                </div>
            </div>
            <div class="contentGroup">
                <div class="main_Content" id="main_Content">
                    <div class="index_page" id="indexPage">
                        <div class="banner_group">
                        </div>
                        <div class="banner_group_bg_mobile">
                        </div>
                        <div class="index_group">
                            <div class="ad_content_group">

                                <section class="txt_content_group" id="FacilityGroup">
                                    <p class="txt_tit">服務設施</p>
                                    <span class="txt_tip">Facility</span>
                                    <div class="txt_content">
                                        <div class="sub_txt_content">
                                            <div class="sub_txt_title_before"></div>
                                            <div class="sub_txt_title">服務設施</div>
                                            <div class="sub_txt_title_after"></div>
                                            <div class="sub_txt_contents">
                                                <ul>
                                                    <li>一、大廳 / 交誼廳 : 舒適的沙發休息區，24小時櫃台，晨呼服務。</li>
                                                    <li>二、網際網路服務 : 全館皆為無線網路Wi-Fi。</li>
                                                    <li>三、星光餐廳 : 寬敞明亮的餐廳，提供美味可口中西式早餐，給您一天滿滿的活力。</li>
                                                    <li>四、自助洗衣服務: 館內6樓設有自助洗衣房，早上8點至晚上10點。</li>
                                                    <li>五、無障礙服務: 館內一樓設有身障者專用的洗手間，另外也備有輪椅、無障礙電梯及專屬客房。</li>
                                                    <li>六、旅遊資訊: 可索取詳盡的旅遊資訊圖、在地美食推薦。</li>
                                                    <li>七、貼心的服務: 提供嬰兒澡盆、燙衣板及熨斗、各式充電器/轉換插頭租借(如有需要請洽櫃檯)。</li>
                                                    <li>八、停車場 : 提供免費地下室平面停車場，為先到先停，停滿為止。</li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="pic_facility"></div>
                                        <!-- <div class="btn_group">
                                            <a href="facility.html">more</a>
                                        </div> -->
                                    </div>
                                </section>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="footerGroup">
                <div class="footer">
                    <div class="txt_link_group">
                        <div class="logo_pc_footer_group"></div>
                        <div class="txt_link_content_group">
                            <ul>
                                <li><a href="javascript:;">台北市中華路一段168號</a></li>
                                <li><a href="tel:+886-7-5612346">Tel ：02-23821314</a></li>
                                <li><a href="fax:+886-7-5338007">Fax：02-23821344</a></li>
                            </ul>
                        </div>
                        <div class="social_group">
                            <ul>
                                <li class="list_sub_friend_group">
                                    <ol class="footer_sub_group footer_sub_friend_group">
                                        <li>
                                            <a href="https://www.facebook.com/burgaryhotel" class="icon_fb" target="_blank"></a>
                                        </li>
                                        <li>
                                            <a href="#" class="icon_line"></a>
                                        </li>
                                        <li>
                                            <a href="https://www.instagram.com/burgary2007hotel/?igshid=YjNmNGQ3MDY%3D" class="icon_ig" target="_blank"></a>
                                        </li>
                                    </ol>
                                </li>
                            </ul>
                        </div>
                    </div>
				</div>
                <p class="copyright">© burgary hotel. All Rights Reserved.</p>
                <div class="mobile_footer">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col">
								<ul class="mobile_footer_group">
									<li>
										<a href="index.html#aboutGroup">
											<span class="icon_mobile_footer_index"></span>
											關於我們
										</a>
									</li>
									<li>
										<a href="hotel.html">
											<span class="icon_mobile_footer_life"></span>
											精選房型
										</a>
									</li>
									<li>
										<a href="news.html">
											<span class="icon_mobile_footer_service"></span>
											最新消息
										</a>
									</li>
                                    <li>
										<a href="index.html#FacilityGroup">
											<span class="icon_mobile_footer_recruitment"></span>
											服務設施
										</a>
									</li>
                                    <li>
										<a href="https://www.facebook.com/burgaryhotel/?locale=zh_TW" target="_blank">
											<span class="icon_mobile_footer_education"></span>
											線上訂房
										</a>
									</li>
								</ul>
							</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script> 
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
    <script>
        $(function(){
            $(".goTop").click(function(){ // goTop
				$("html,body").animate({
					scrollTop: 0
				},"fast");
			});

        })
    </script>
</body>
</html>