<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="title" content="高雄文賓大飯店-觀光旅遊住宿">
    <meta name="subject" content="高雄文賓大飯店-觀光旅遊住宿">
    <meta name="keywords" content="高雄、高雄住宿、高雄出差、高雄觀光、駁二藝術特區、住宿、旅遊、海港、城市之旅、亞洲新彎區、高雄飯店、飯店、高雄流行音樂中心、商務、西子灣、愛河">
    <meta name="description" content="高雄文賓大飯店位於駁二藝術特區入口處，高雄捷運鹽埕埔站(O2)及高雄輕軌大義站(C12)、蓬萊站(C13)皆在飯店旁。距離機場及高鐵站約20~30分的車程,皆可搭乘捷運抵達本飯店。">
    <meta property="og:url" content="" />
	<meta property="og:title" content="高雄文賓大飯店-觀光旅遊住宿" />
    <meta property="og:image" content="預覽圖 URL" />
    <meta property="og:description" content="高雄文賓大飯店位於駁二藝術特區入口處，高雄捷運鹽埕埔站(O2)及高雄輕軌大義站(C12)、蓬萊站(C13)皆在飯店旁。距離機場及高鐵站約20~30分的車程,皆可搭乘捷運抵達本飯店。" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1,user-scalable=0, viewport-fit=cover, shrink-to-fit=no">
    <title>高雄文賓大飯店 - 觀光旅遊住宿</title>
    <link rel="shortcut icon" href="images/favicon.ico">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.css" />
    <link rel="stylesheet" href="scss/style.css">
</head>
<body>
    <div class="wrapper">
        <!-- Modal -->
        <div class="modal fade" id="lineIDModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">LINE ID</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        burgaryhotel
                    </div>
                    <div class="modal-footer">
                        <!-- <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">關閉</button> -->
                        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">關閉</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="onlineBookingrGroup" id="onlineBookingrGroup">
            <ul>
                <li>
					<a href="https://www.facebook.com/burgaryhotel/?locale=zh_TW" class="" target="_blank">
						線上訂房
					</a>
				</li>
            </ul>
        </div>
        <div class="customerGroup" id="customerGroup">
            <ul>
                <li>
					<a href="https://www.instagram.com/burgary2007hotel/?igshid=YjNmNGQ3MDY%3D" class="icon_ig_side">
						<span class="icon icon_ig_side"></span>
					</a>
				</li>
                <li>
					<a href="javascript:;" class="icon_line_side" data-bs-toggle="modal" data-bs-target="#lineIDModal">
						<span class="icon icon_line_side"></span>
					</a>
				</li>
                <li>
					<a href="https://www.facebook.com/burgaryhotel" class="icon_fb_side" target="_blank">
						<span class="icon icon_fb_side"></span>
					</a>
				</li>
                <li>
					<a href="javascript:;" class="goTop">
						<span class="icon icon_top"></span>
					</a>
				</li>
            </ul>
        </div>
        <div class="contentBox">
            <div class="headerGroup" id="HeaderGroup">
                <div class="header">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col">
                                <div class="mobile_header bd-example">
                                    <nav class="navbar navbar-light bg-light fixed-top">
                                        <div class="container-fluid">
                                            <a class="navbar-brand icon_logo_mobile" href="index.html">
											</a>
                                        </div>
                                    </nav>
                                </div> 
                                <div class="navGroup" id="NavGroup">
									<a class="logo_pc" href="index.html">
										<img src="/images/logo_pc.png" alt="寶格利時尚旅館" title="寶格利時尚旅館">
									</a>
                                    <ul class="login_group">
                                        <li>
											<a class="icon_index" href="index.html#aboutGroup">關於我們</a>
										</li>
                                        <li>
											<a class="icon_about" href="hotel.html">精選房型</a>
										</li>
                                        <li>
											<a class="icon_cart" href="news.html">最新消息</a>
										</li>
                                        <li>
											<a class="icon_index" href="index.html#FacilityGroup">服務設施</a>
										</li>
                                        <li>
                                            <a href="https://www.facebook.com/burgaryhotel/?locale=zh_TW" target="_blank">線上訂房</a>
										</li>
										<li>
											<a class="icon_about" href="index.html#TrafficGroup">聯絡我們</a>
										</li>
                                        
                                    </ul>
                                </div> 
                            </div>                           
                        </div>
                    </div>
                </div>
            </div>
            <div class="contentGroup">
                <div class="main_Content" id="main_Content">
                    <div class="index_page" id="indexPage">
                        <div class="banner_group gotooreder">
                        </div>
                        <div class="banner_group_bg_mobile">
                        </div>
                        <div class="index_group">
                            <div class="ad_content_group">
                                <section class="txt_content_group" id="NewsGroup">
                                    <div class="service_group">
                                        <p class="txt_tit">最新消息</p>
                                        <span class="txt_tip">News</span>
                                        <div class="txt_content">
                                            <div class="news_content_group">
                                                <div class="news_content_focus_group">
                                                    <div class="news_content_l"></div>
                                                    <div class="news_content_r">
                                                        <div class="news_txt_content">
                                                            <div class="news_txt_tit">限定優惠</div>
                                                            <span class="news_time">2023.05.16</span>
                                                        </div>
                                                        <div class="news_txt_focus_content">
                                                            <p class="news_txt_focus_tit">最新消息</p>
                                                            <div class="news_txt_focus_contents">
                                                                <p class="news_txt_focus_sub_contents">寶格利是一間坐落於台北市西門町，擁有絕佳方便的地理位置的城市旅館，簡潔溫馨的空間，舒適自在的客房，搭配俯瞰城市美景的浴室設計，可以在自己獨立私人的空間裡，享受泡澡，打造難得的城市居家環境。經歷疫情後，寶格利重新出發，規劃了不同空間，讓回來台灣的朋友有一個可以旅遊時暫時休憩的家。</p>
                                                            </div>
                                                        </div>
                                                        <div class="btn_more_group">
                                                            <a class="btn_news_list_more" href="newsdetail.html">看更多</a>
                                                        </div>
                                                    </div>
                                                </div>
                                                
                                                <!-- <div class="news_content_list_group">
                                                    <p class="pic_news_content_list"></p>
                                                    <ul class="news_content_list">
                                                        <li>
                                                            <span class="news_time">2023.01.01</span>
                                                            <div class="news_list">
                                                                限定優惠雙享 高鐵聯票專案 限定優惠雙享 高鐵聯票專案 限定優惠雙享 高鐵聯票專案 限定優惠雙享 高鐵聯票專案 限定優惠雙享 高鐵聯票專案 限定優惠雙享 高鐵聯票專案 限定優惠雙享 高鐵聯票專案 限定優惠雙享 高鐵聯票專案
                                                            </div>
                                                            <a class="btn_news_list_more" href="javascript:;">看更多</a>
                                                        </li>
                                                        <li>
                                                            <span class="news_time">2023.01.01</span>
                                                            <div class="news_list">
                                                                限定優惠雙享 高鐵聯票專案 限定優惠雙享 高鐵聯票專案 限定優惠雙享 高鐵聯票專案 限定優惠雙享 高鐵聯票專案 限定優惠雙享 高鐵聯票專案 限定優惠雙享 高鐵聯票專案 限定優惠雙享 高鐵聯票專案 限定優惠雙享 高鐵聯票專案
                                                            </div>
                                                            <a class="btn_news_list_more" href="javascript:;">看更多</a>
                                                        </li>
                                                        <li>
                                                            <span class="news_time">2023.01.01</span>
                                                            <div class="news_list">
                                                                限定優惠雙享 高鐵聯票專案 限定優惠雙享 高鐵聯票專案 限定優惠雙享 高鐵聯票專案 限定優惠雙享 高鐵聯票專案 限定優惠雙享 高鐵聯票專案 限定優惠雙享 高鐵聯票專案 限定優惠雙享 高鐵聯票專案 限定優惠雙享 高鐵聯票專案
                                                            </div>
                                                            <a class="btn_news_list_more" href="javascript:;">看更多</a>
                                                        </li>
                                                        <li>
                                                            <span class="news_time">2023.01.01</span>
                                                            <div class="news_list">
                                                                限定優惠雙享 高鐵聯票專案 限定優惠雙享 高鐵聯票專案 限定優惠雙享 高鐵聯票專案 限定優惠雙享 高鐵聯票專案 限定優惠雙享 高鐵聯票專案 限定優惠雙享 高鐵聯票專案 限定優惠雙享 高鐵聯票專案 限定優惠雙享 高鐵聯票專案
                                                            </div>
                                                            <a class="btn_news_list_more" href="javascript:;">看更多</a>
                                                        </li>
                                                        <li>
                                                            <span class="news_time">2023.01.01</span>
                                                            <div class="news_list">
                                                                限定優惠雙享 高鐵聯票專案 限定優惠雙享 高鐵聯票專案 限定優惠雙享 高鐵聯票專案 限定優惠雙享 高鐵聯票專案 限定優惠雙享 高鐵聯票專案 限定優惠雙享 高鐵聯票專案 限定優惠雙享 高鐵聯票專案 限定優惠雙享 高鐵聯票專案
                                                            </div>
                                                            <a class="btn_news_list_more" href="javascript:;">看更多</a>
                                                        </li>
                                                    </ul>
                                                </div> -->
                                                <!-- <div class="pageNavigation_group">
                                                    <nav aria-label="Page navigation example">
                                                        <ul class="pagination">
                                                          <li class="page-item">
                                                            <a class="page-link" href="#" aria-label="Previous">
                                                              <span aria-hidden="true">&laquo;</span>
                                                            </a>
                                                          </li>
                                                          <li class="page-item"><a class="page-link active" href="#">1</a></li>
                                                          <li class="page-item"><a class="page-link" href="#">2</a></li>
                                                          <li class="page-item"><a class="page-link" href="#">3</a></li>
                                                          <li class="page-item">
                                                            <a class="page-link" href="#" aria-label="Next">
                                                              <span aria-hidden="true">&raquo;</span>
                                                            </a>
                                                          </li>
                                                        </ul>
                                                      </nav>
                                                      <div class="pagination_tip_group">
                                                        <span>第1頁</span> / <span>共19頁</span>
                                                      </div>
                                                </div> -->
                                            </div>
                                        </div>
                                    </div>
                                </section>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="footerGroup" id="footerGroup">
                <div class="footer">
                    <div class="txt_link_group">
                        <div class="logo_pc_footer_group"></div>
                        <div class="txt_link_content_group">
                            <ul>
                                <li><a href="javascript:;">台北市中華路一段168號</a></li>
                                <li><a href="tel:+886-7-5612346">Tel ：02-23821314</a></li>
                                <li><a href="fax:+886-7-5338007">Fax：02-23821344</a></li>
                                <li><a href="LINE ID:burgaryhotel">LINE ID：burgaryhotel</a></li>
                            </ul>
                        </div>
                        <div class="social_group">
                            <ul>
                                <li class="list_sub_friend_group">
                                    <ol class="footer_sub_group footer_sub_friend_group">
                                        <li>
                                            <a href="https://www.facebook.com/burgaryhotel" class="icon_fb" target="_blank"></a>
                                        </li>
                                        <li>
                                            <a href="#" class="icon_line" data-bs-toggle="modal" data-bs-target="#lineIDModal"></a>
                                        </li>
                                        <li>
                                            <a href="https://www.instagram.com/burgary2007hotel/?igshid=YjNmNGQ3MDY%3D" class="icon_ig" target="_blank"></a>
                                        </li>
                                    </ol>
                                </li>
                            </ul>
                        </div>
                    </div>
				</div>
                <p class="copyright">© burgary hotel. All Rights Reserved.</p>
                <div class="mobile_footer">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col">
								<ul class="mobile_footer_group">
									<li>
										<a href="index.html#aboutGroup">
											<span class="icon_mobile_footer_index"></span>
											關於我們
										</a>
									</li>
									<li>
										<a href="hotel.html">
											<span class="icon_mobile_footer_life"></span>
											精選房型
										</a>
									</li>
									<li>
										<a href="news.html">
											<span class="icon_mobile_footer_service"></span>
											最新消息
										</a>
									</li>
                                    <li>
										<a href="index.html#FacilityGroup">
											<span class="icon_mobile_footer_recruitment"></span>
											服務設施
										</a>
									</li>
                                    <li>
										<a href="https://www.facebook.com/burgaryhotel/?locale=zh_TW" target="_blank">
											<span class="icon_mobile_footer_education"></span>
											線上訂房
										</a>
									</li>
								</ul>
							</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script> 
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
    
    <script>
        $(function(){
            $(".goTop").click(function(){ // goTop
				$("html,body").animate({
					scrollTop: 0
				},"fast");
			});
            $(function(){
            $(".gotooreder").click(function(){
                $(window).attr('location','https://wenpin.ezhotel.com.tw/');
            })
        })
        })
    </script>
</body>
</html>